#footer {
    background: rgba(0, 0, 0, 0) url(../imgs/contact-bg.jpg) repeat fixed 0 0 / cover;
    position: relative;
    padding: 90px 0;
    z-index: 1;
}

#footer::after {
    background: #000000 none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0.7;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}

#footer .title_h2 {
    font-size: 35px;
    font-weight: bold;
    /* font-family: cursive; */
    padding: 15px;
    position: relative;
    text-transform: uppercase;
    color: #ffc107;
}

#footer .icon-contact {
    color: #efebb9;
    font-size: 75px;
}

#footer .contact a {
    color: white;
}

.ft-bottom {
    padding: 20px;
    background-color: #000000;
    color: white;
    text-transform: uppercase;
}

footer #pagewrap #back-top #top {
    z-index: 9;
    position: fixed;
    bottom: 2%;
    right: 2%;
    display: none;
    font-size: 35px;
    color: #ffc107;
}